doctype html
head 
  title Restaurants
body 
    h1 Restaurant Name
    div
      h2 #{rest1}
      h2 Must get: #{sand1}
      button Contact Sam's
    div
      h2 #{rest2}
      h2 Must get: #{sand2}
      button Contact Bobs's
    div
      h2 #{rest3}
        h2 Must get: #{sand3}
      button Contact Eagle Deli